############################
# IDE / Editor (공통)
############################
.idea/
.vscode/
*.code-workspace
.history/

############################
# OS / System junk
############################
.DS_Store
Thumbs.db
nul

############################
# Environment / Secrets
############################
*.env
.env.*
backend/src/main/resources/application-dev.yml

############################
# Backend runtime / logs / DB
############################
backend/db_data/
backend/server.log
backend/nul
*.db
*.db-shm
*.db-wal

############################
# Mosquitto
############################
mosquitto/data/
mosquitto/log/

############################
# Media / 기타 (전역 공통)
############################
*.mp3
*.wav
