# IDE
.idea/

# Backend - 민감정보
backend/src/main/resources/application-dev.yml
backend/db_data/
backend/server.log
backend/nul

# Mosquitto
mosquitto/data/
mosquitto/log/

# Windows 임시 파일
nul

# 환경 설정
*.env
.env.*

# gae_ws 내부의 빌드 폴더 제외
gae_ws/build/
gae_ws/install/
gae_ws/log/
*.mp3